<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152400702992-vvdbg9lddhul6tc2lnrcug59ptmac78l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152400702992-vvdbg9lddhul6tc2lnrcug59ptmac78l</string>
	<key>API_KEY</key>
	<string>AIzaSyARFrh2B0TAdgNkT6yuXDSb6dkyG0MbDDI</string>
	<key>GCM_SENDER_ID</key>
	<string>152400702992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sherifd.Portsaid-City-Guide</string>
	<key>PROJECT_ID</key>
	<string>city-guide-8338d</string>
	<key>STORAGE_BUCKET</key>
	<string>city-guide-8338d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152400702992:ios:9a84cf7b98e71e1d</string>
	<key>DATABASE_URL</key>
	<string>https://city-guide-8338d.firebaseio.com</string>
</dict>
</plist>